**Veri analitiği, bütüncül anlamda bir değer üretmektir.** 

**Analitik düşünce, üretilecek olan değerdeki kişisel potansiyellerimizdir.**

#Veri Bilimine Giriş :


Veri bilimi, veriden faydalı bilgi çıkarma sürecine denir. **Düşünce becerilerimiz** ve **veri analitiğimizi** kullanarak **bilgiler** oluşturacağız ve bu bilgileri kullanacağımız **aksiyonlara** çevireceğiz. 

Veri bilimci, veri sürecinden faydalı bilgiyi çıkartan kişiye denir.
**** 

Veriden Faydalı Bilgi Çıkarma İşlemi Nasıl Gerçekleşir?

+ **Betimleyici Analitik :** "Ne olmuş" sorusuna yanıt arar. 
+ **Teşhis Tanı Analitiği :** "Neden olmuş" sorusuna yanıt arar. 
+ **Tahminsel Analitik :** "Ne olacak" sorusuna yanıt arar. 
+ **Yönergeli Analitik :** "Ne,Nasıl olmalı" sorusuna yanıt arar. 

****

Veri Bilimi Proje Döngüsü :

Metodlardan biri  olan "CRISP-DM" kullanılıyor.  
+ **İş Anlayışı(Business Understanding) :** Bir problemimiz var örneğin elimizde ki bir ürünü satmak sitiyoruz. Ama bu ürünün markası veya modeli veya herhangi özelliğine bağlı olarak ne kadar bir fiyat biçmemiz gerektiği konusunda bilgimiz yok.Bu fiyatı elimizdeki özelliklere bağlı olarak belirleyecek br sistem oluşturulması istenmektedir. Yani elimizde bir problemin olması gerekmektedir. Peki bu ürünün  piyasadaki fiyatını veri bilimci nasıl anlayacak? O da şu şekilde gerçekleşmektedir; veri bilimci ürünün piyaddaki benzer özelliklerini kullanarak yani veriyi kulanarak bir fiyat biçimlendirmesi oluşrturacaktır. Bir model oluşturulacak ve bunu  x ve y şeklinde bir fonksiyon oluşturacağız. 
+ **Veriyi Anlamak(Data Understanding) :**  Modeli oluşturmak için değişkenleri anlamamız veriyi yorumlamamız gerekiyor; standart sapma, ortalama, mini, max gibi istatiksel veriler.. 
+ **Verilerin Hazırlanması(Data Preparation) :** Excel formda elimizde ürünün verileri olduğunu düşünelim; amacımız fiyat tahmini oluşturacak bir model yapmaktı. İlk önce veri setimizi hazırlamamız gerekmektedir. Yapısal bozukluklar, eksik veya kaybolmuş değerler(NA), aykırı değerler, gürültülğ değerler içerebilecek olan setimizdeönce düzeltme veya temizleme işlmelerinin yapılması gerekir. (VERİ ÖN İŞLEME)
+ **Modelleme(Modeling) :** Çoklu Doğrusal Regresyon modelleme tekniklerinden biridir. Elimizde bir fonksiyon olacaktır;  $y=b0 +b1x1 + b2x2 + ... + bnxn$ 

 b0,b1,b2, ... ,bn  : veri setinin içerisinden öğrenilen kat sayılardır. 
+ **Değerlendirme(Evulation) :**  Performans değerlendirilmesi gerçekleşecektir. Gerçek değerler vs Tahmin edilen değerler 
+ **Kullanıma Sokma(Deployment) :**  

****

#PYTHON  : GİRİŞ ve TEMEL HAREKETLER

In [ ]:
type(9) #integer
type(9.2) #float
type("hello") #string

str

**String :**  karakter dizisi olduğunu belli etmel için  **" "**  veya  **' '**  işareti koyuyoruz.

In [ ]:
# Eğer tırnak içine alınmazsa string bir ifade, kod bloğu hata verecektir.        - SYNTAXERROR
"hello AI"

# Tırnak içine alınan her ifade bizim için string br ifadedir.
type(9) #int 
type("9") #str

# Sadece Tırnak işareti koyarsak str bir ifade ile karşılaşırız.
type("") 
type(" ") # Boşluk bir string ifade olarak algılanır. 

"a"+"b"  # 'ab' şeklinde çıktı alırız. Bir araya getiriyor. "a" "b"  bu şekilde de yazarsak aynı çıktıyı elde ederiz.
"a"+" b"  #aralarında boşluk bulunmaktadır. 
len("a"+" b") # 3 sayısını elde ederiz. Boşluk bir string ifade olarak algılanır. 

# String ifadelerde çıkarma işlemi yapılamaz. Zaten yukarıda yapılan bir Toplama işlemi değil Birleştirme işlemidir.         - TYPEERROR
#"a" - "b"

"a"*3      #3 adet a harfini yan yana ekrana yazdırır. Çoğaltmak olarak adlandırabiliriz. 
#  "a"/3 -TYPEERROR

'aaa'

**String Metotları :**

In [ ]:
a = "gelecegi yazanlar**"
len(a)  # 17 elemandan oluşuyor bilgisini bize vermektedir. 

a.upper() # Tüm elemanları Büyük Harf olarak yazar. 
a.lower() # Tüm elemanları Küçük Harf olarak yazar. 
a.islower() # False çünkü G büyük harf. Boolean döndürür ve tüm elemanları kontrol eder. 
a.isupper() # False çünkü G hariç hepsi küçük harf. 
a.replace("e", "a") # String içerisndeki karakterleri değiştirmeye yarar. HAYAT KURTARAN BİR METOT.
                    # İlk kısım değiştireceğimiz karakter, İkinci kısım hangi karakter ile değiştireceğimiz
a.strip("*") # Baştaki ve sondaki İstenmeyen karakterleri kırpmak için kullanılan bir metot. 
a.capitalize() # İlk harfi büyüten metot.
a.title() # Başlık içn her bir kelimenin ilk harfini büyük yapar. 
a.startswith("g") # İlk Harfin g olup olmadığını sorguluyoruz. Boolean döndürür. 
a.partition("e")  # İlk gördüğü harfi ayırır ve sanki 3 farklı kelime varmış gibi davranır.  
a.split() # Bir dziye atama yapar.

['gelecegi', 'yazanlar**']

In [ ]:
dir(a)  # Elimizde ki veri tiplerinin hangi metotlarla uygulanabileceğini bulabiliriz.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# SUBSTRING 
a[1] # a'nın 1'e karşılık gelen karakterni döndürür. Index'lerden yararlanıyoruz. 0'dan başlamaktadır. 
#a[22]  # Elimizde bu kadar karakter olmadığı için hata döndürecektir.                                       - INDEXERROR 
a[0:4] # Burada 0'dan başla 4'e kadar ama 4 dahil değil demiş oluyoruz. O yüzden ekrana 'gele' yazdıraaktır.

'gele'

**Değişkenler, Tip Dönüşümleri ve PRINT() Fonksiyonu :**

Python programlama dilinde oluşturduğumuz her şey bir Nesne'dir.

Fonksiyonların genel amaçlarını biçimlerndirmek için kullanılan alt görev belirtecine **argüman** denir.

In [ ]:
type(100)
type(100.2)
type(2+3j) # complex

b = 90.2 # Değişken Tanımlamak

sayi1 = input() # INPUT Fonksiyonu kullanıcan bilgi almak için kullanılır. 
sayi2 = input()
type(sayi1) # Ben şnt bir değer verdim ama str bir değer dönüyor. 
sayi1 + sayi2 # İki ifadeyi Toplama işlemi yapmıyor. String döndürdüğü için Birleştirme işlemi yapıyor. 

#PEKİ BEN INT BİR DEĞER GİRDİĞİMDE NASIL SONUÇ ALABİLİRİM? 
int(sayi1) + int(sayi2) # Bu şekilde str olan bir değişkeni int dönüştürebiliyoruz. 

int(11.9) # Float bir değişkende virgülden sonrasını görmek istemediğimiz zaman bu şekilde int bir dönüşüm yapabilriz. 
float(12) # Int bir değişkeni Float hale çeviriyor. Çıktı : 12.0 
str(12) # Int bir ifadeyi String bir hale dönüştürüyor. Çıktı : '12'
str(14.56) # Yukarıdaki dururmun aynısı Float dönüştürme içinde geçerlidir. 


print("geleceği", "yazanlar") # Çıktı : geleceği yazanlar
print("geleceği", "yazanlar", sep ="_") # İçinde yazılı olan ifadeyi _ ile birleştirir. 
?print() # Yardım.

In [ ]:
print("mina")

mina

# PYTHON : VERİ YAPILARI (DATA TYPES)

**Listeler :** 

- Değiştirilebilir.
- Kapsayıcıdır.
- Sıralıdır. 

Python'da liste oluşturmak için 2 yolumuz var : 
1. [  ] ifadesi.
2. list() fonksiyonu.

Liste bir Üst Tiptir. Yani içerinde string ya da integer bir ifade nulunabilir ama type() fonkdiyonunda döndürdüğümüz zaman list olarak karşımıza çıkacaktır.

In [ ]:
# Bir grup öğrencnin sınavda aldığı notları köşeli parantez yöntemiyle oluşturalım :
notes = [90, 80, 75, 65, 92]
type(notes) #list
type(notes[1]) # İçinde ki bir veriyi sorguladığımız zaman int değer olduğunu görmekteyiz.
 
list1 = ["a", 12, 23.5]
type(list1) # list dönecektir.
type(list1[0]) # str
type(list1[1]) # int
type(list1[2]) # float
#type(list1[3])              # -INDEXERROR 
len(list1) # 3 
 
list2 = ["a", 12, 23.5, notes]
len(list2) # 4 eleman döndürecektir. notesun içindekileri saymayacaktır. Listenin tamamını eleman olarak görmektedir. 
list2[3] # tek bir eleman şeklinde gözükür ama elemanımız bşr listedir. 
type(list2[3]) #list döndürür. 
 
list3 = [list1, list2]
list3                   # [['a', 12, 23.5], ['a', 12, 23.5, [90, 80, 75, 65, 92]]] Bu şekilde bir çıktı üretir. Listeleri tekrar bir list'in içine sokuyoruz. 
 
#del list3  # SİLME İŞLEMİ..

**Liste Eleman İşlemleri :**

 LİSTENİN ELEMANLARINA ERİŞMEK :

In [ ]:
list4 = [10, 20, 30, 40, 50]
list4[0]
list4[1:3] # 1 den başla 3'e kadar. 3. eleman dahil değil
list4[:3] # En baştan başla 3'e kadar. 3. eleman dahil değil. 
list4[3:] # 3'ten başla 3 dahil sona kadar. 

list5 = ["a",10, [20, 30, 40, 50]]
list5[2] # Burada lst olan elemana ulaştık. Peki ben bunun içinde ki elemanlara nasıl ulaşacağım ?
list5[2][2] #40 sonucunu elde edeceğiz.

LİSTEYE ELEMAN EKLEMEK, DEĞİŞTİRMEK, SİLMEK :

In [ ]:
list6 = ["ali", "veli", "berkcan", "ayşe"]
list6[1] = "velinin babası" # Veli yerine artık Velinin babası yazmaktadır. 
list6[0:3] = "alinin babası", "velinin babası", "berkcanın babası"  # 0'dan 3'e kadar tüm değişkenlere yazdıklarımızı atamaktadır. 
 
list6 +["kemal"] # Bir ekleme işlemi yapıyor ama atama işlemi gerçekleştiriliyor. Kalıcı olarak bir atama yapılmıyor. 
list6 = list6 +["kemal"] # Artık kalıcı olarak Kemal ismi eklenmiştir. 
del list6[2] # Belirttiğimiz index'teki veriyi silmektedir.

METOTLAR İLE ELEMAN EKLEMEK :

In [ ]:
list7 = ["ali", "veli", "isik"]
dir(list7) # bize bu listede neler ypabileceğimizi gösteriyor. Yanları çizgili olanları kullanmıyoruz. 

# Yeniden atama işlemi yapmadan eleman ekledik. Kalıcı bir değşklik gerçekleştirdik.  
list7.append("kemal") # sonuna kemal ismi ekleniyor. 

# Silmek istiyorsak,
list7.remove("kemal") # İçine yazılı olan veriyi silmiş olduk. 
list7

İNDEKSE GÖRE, ELEMAN EKLEME ve SİLME : 

insert() metodu herhangi bir elemanın yerine yazılmıyor. Eleman atama yönteminden farklı. bir sıra kaydırılıyormuş gibi düşünüleblinir.

In [ ]:
# Listemin herhangi bir elemanına veri eklemek istiyoruz :
list8 = ["ali", "veli", "isik"]
list8.insert(1, "eda") 
list8.insert(4, "aleyna") # mesela 4 boyutlu bir dizide 5. boyutu eklemek istiyoruz. Normal atama metodunda hata alacaktık. Ama bu metod ile ekleme yapabiliyoruz. 

# Peki otomatik olarak ben son elemana nasıl ekleme yapabilirim? Tüm indexleri sayacak mıyım ? Hayır : 
list8.insert(len(list8), "elif") # len(list8) bana listenin boyurunu döndürüyor yani bir bakıma son indeksi sunuyor. 

# Listeden eleman silmek istiyorsam;
list8.pop(4) # burada hangi elemanın da silindiğini ekrana yazddırıyor. Bu yüzden dikkatli bakmalıyız.

DİĞER LİSTE METOTLARI :

In [ ]:
list9 = ["ali", "veli", "isik","ali", "veli" ]
list9.count("ali") # Listenin içinde kaç adet Ali ismi bulunmaktadır, bie bunu verir.

list9_yedek = list9.copy() # bize ilk listenin bir kopyasını verir. 

list9.extend(list9_yedek) # İki listeyi birleştiren metot. 

list9.index("veli") #Aradığımız hangi indexte olduğunu bize verir. Ama şuna dikkat etmeliyiz!!! Eğer tekrarlayan bir veriyse sadece ilk gördüğünü bize verir. 

list9.reverse() # listeyi tersine çeviren br metot.

list9.sort() # Sıralama yapmak için kullanılır.  Küçükten-Büyüğe Doğru

list9.clear() # Listenin içini temizler.

**TUPLE :** 
- Değiştirilemez!!!
- Kapsayıcıdır.
- Sıralıdır. 

Python'da tuple oluşturmak için 2 yolumuz var :

 1. [] ifadesi.
 2. tuple() fonksiyonu.

In [ ]:
t = ("ali","veli", 1,3,3.4, [3,4,5]) # Tuple -1
t = "ali","veli", 1,3,3.4, [3,4,5] # Tuple -2 
type(t) 

t = ("eleman")
type(t)  # String döndürür. 
# Tek elemanlı tuple'larda dikkat etmemiz gereken bir nokta vardır. Normalde tuple olduğunu biliyoruz ama sistem str okuyor. 
t = ("eleman",) # Eğer sonuna virgül koyarsak sistem bunu tuple olara algılamaktadır.

TUPLE ELEMAN İŞLEMLERİ :

In [ ]:
t = ("ali","veli", 1,3,3.4, [3,4,5])
t[1] # 'veli' döndürür. Listelerle aynıdır. 
t[0:3] # 'dan 3'e kadar. 

# t[2] = 99      # TYPEERROR (Değiştirilemezler...)

**SÖZLÜK :** 

- Değiştirilebilir.
- Kapsayıcıdır.
- Sırasızdır.


Listelerde ki gibi index işlemi gerçekleştirilemez.

key : sabitliğinden endişe etmemeiz gereken referans değerlerdir.

In [ ]:
sozluk = {"REG" : "Regresyon Modeli" ,
          "LOJ" : "Lojistik Regresyon",
          "CART" : "Classification and Reg"}
sozluk # ilk değerler key değerleri, ikinci kısım ise key değerlerinin ne olduğununbize verir. 
len(sozluk) # 3 eleman vardır.

sozluk = {"REG" : ["Regresyon Modeli",10] ,
          "LOJ" : ["Lojistik Regresyon",20],
          "CART" : ["Classification and Reg",30]}
sozluk # Tek açıklamadan oluşmak zorunda değildir. Liste şeklinde oluşturulabilir.

SÖZLÜK ELEMAN SEÇME İŞLMELERİ :

In [ ]:
sozluk = {"REG" : "Regresyon Modeli" ,
          "LOJ" : "Lojistik Regresyon",
          "CART" : "Classification and Reg"}
#sozluk[0]    # - KEYERROR 
#Sırasız olduğu çin kalsik indexleme mantığı ile verilere ulaşamayız. 

sozluk["REG"] # Bu şekilde sorgulama yapabiliriz. 

# Sözlük içinde Sözlük Oluşturulması : 
sozluk = {"REG": {"RMSE" : 10,
                  "MSE" : 20,
                  "SSE" : 30},
          "LOJ": {"RMSE" : 10,
                  "MSE" : 20,
                  "SSE" : 30},
          "CART": {"RMSE" : 10,
                  "MSE" : 20,
                  "SSE" : 30}}
sozluk["REG"]["MSE"] # Sözlük içinde sözlüğün aldığuı ifadeye erişmek istersem..

SÖZLÜK ELEMAN EKLEME ve DEĞİŞTİRME :

In [ ]:
sozluk = {"REG" : "Regresyon Modeli" ,
          "LOJ" : "Lojistik Regresyon",
          "CART" : "Classification and Reg"}

sozluk["GBM"] = "Gradient Bososting Mac"    # Sözlüğe eleman ekleme işlemi 
sozluk["REG"] = "Çoklu Doğrusal Regresyon" # REG adlı keyifadesinn açıklamasını değiştiriyouz. Yeni bir bilgi atıyoruz. 
# Olay şu şekilde gerçekleşiyor, eğer parantez içerisindeki eleman yoksa yeni bir key elemanı olurşturayım, varsa ve value değiştirmem gerekiyorsa yeni bir atama yapayım. 

sozluk[1] = "Yapay Sinir Ağları " # Hata vermiyor yen bir key olarak algılıyor.

sozluk["REG"] = [30,40 ]
sozluk["REG"][1]

40

In [ ]:
l = [1,2]
# sozluk[l] = "Yeni bir şeyler"  # -TYPEERROR 
# Sözlüklerdeki key yapıları sadece sabit ver yapıları ile oluşturulabilir. 
t = ("eleman","ekşi")
sozluk[t] = "yeni"

SET (KÜME) OLUŞTURMAK : 


- Değiştirilebilir.
- Farklı tipleri barındırabilir. 
- Sırasızdır.
- Değerleri eşsizdir.

In [ ]:
s = set() #set fonksiyonu oluşturur. 
l = [1, 2, "ali", "veli", 9.5]
s= set(l) # liste üzerinden set oluştutuldu. 

t= ("ali","veli")
s = set(t) #Tuple üzerinden set oluşturuldu. 

ali = "al_kütfen_ata_bakma"
s=set(ali) #Tüm harfleri bir kez kullanır ve artık bunlar harf değil karakterdir. ve sırayla alır. 
s

SET : ELEMAN EKLEME ve ÇIKARMA

In [ ]:
l = ["geleceği", "yazanlar"] #list
s = set(l) # listeyi set haline çevirdik. 

# dir(s) kullanarak bir çok metoda erişim sağlayabiliriz. 
s.add("ile") # sırasız oldukları için bağımsız olarak yerleştiriliyor

# Var olan bir değeri ikinci kez eklemek istesek bu elemanın varlığından dolayı yeniden bir ekleme işlemi gerçekleştirememektedir. 
s.remove("ile") #Silme işlemini gerçekleştirdik.
# Aynı kodu ikinci kez yazarsak hata alacağız. Çünkü bu artık set'imizin içinde yok.  
#s.remove("ile")                              #             - KEYERROR

# Peki silindi ve ben ikinci kez yazıyorum ama hata almak istemiyorum. Kod şemamda bir bozukluk olmasın istiyorsam :
s.discard("ile") # Uyarı vermiyor. Silinecek bir şey yok diyor.

SET : FARK İŞLEMLERİ 

- **difference()** : ya da "-" sembolü,iki kümenin farkını alır.
- **intersection()** :ya da "&" sembolü, iki kümenin kesişimini alır. 
- **union()** : iki kümenin birleşimini alır.
- **symmetric_difference()** : ikisinde de olmayan elemanları alır.

In [ ]:
# KLASİK KÜME İŞLEMLERİ :
set1 = set([1,3,5])
set2 = set([1,2,3])

#FARK İŞLEMİ :
#Set1'de olup set2'de olmayan değerleri ekrana çıkarıyor
set1.difference(set2) # çıktı : {5} şekliinde olacaktır. 
set1 - set2  #Aynı sonucu elde edeceğiz.

#Set2'de olup set1'de olmayan değerleri ekrana çıkarıyor
set2.difference(set1) # çıktı : {2} şekliinde olacaktır. 
set2 - set1  #Aynı sonucu elde edeceğiz.

# Biz burada tek tek gözlemledik peki ben aynı anda gözlemlemek istiyorsam:
set1.symmetric_difference(set2)  #  çıktı : {2,5} şekliinde olacaktır. Her ikisini de ekrana yazdırıyor. 

#KESİŞİM İŞLEMİ : 
set1.intersection(set2)  #  çıktı : {1,3} şekliinde olacaktır. 
set2.intersection(set1) # Aynı değerler dönecektir. 
set1 & set2  #Aynı sonucu elde edeceğiz.

# Burada biz elemanların sadece değerlerine ulaşıyoruz. Eğer bunları saklamak istersek :
kesisim = set1.intersection(set2) # şeklinde yazabiliriz. 

#BİRLEŞİM İŞLEMİ :
set1.union(set2)  #  çıktı : {1,2,3,5} şekliinde olacaktır.Her bir elemanı bir defa alacaktır. 
birlesim = set1.union(set2)

set1.intersection_update(set2) # Artık set1 dediğimiz ifade kesişimde elde ettiğimiz değerleri içerir. Yani yeniden bir atama işlemi yapmak yerine update ediyoruz. 
set1

SET : SORGU İŞLEMLERİ :

In [ ]:
set1 = set([7,8,9])
set2 = set([5,6,7,8,9])

# İki kümenn kesişimi boş mu ? :
set1.isdisjoint(set2)  # False. Hayır boş değil. 

# Bir kümenin bütün elemanları başka kümenin içinde yer alıyor mu? 
set1.issubset(set2) # True. Evet tüm elemanlar yer alıyor.  set1, set2'nin alt kümesi. 

# Bir küme diğer kümeyi kapsıyor mu? 
set2.issuperset(set1) # True. set2, set1'i kapsıyor mu?

2

# PYTHON : FONKSİYONLAR, KARAR-KONTROL YAPILARI, DÖNGÜLER

In [ ]:
# ?print  : Fonksiyonların dökümantasyonunu elde ederiz.

print("a", "b", sep="_")  # Değerlerin arasına bir string ifade yerleştiriliyor : sep= " " 
# print() : Argümansız çalışır.

# len()  # - TYPEERROR  bir argüman alır ama sen 0 tane verdin diyor. 
len("a") # çıktı : 1. Argümansız çalışmaz.

 **FONKSİYON NASIL YAZILIR?**

 - **def** : python sana fonksiyon tanımlıyorum 
 - **name_of_func** : fonksiyonumu isimlendiriyorum 
 - **"(arg) :"** : ve fonksiyonuma bağlı olarak argüman  oluşturuyorum.
 - Bir alt satıra inerken otomatik boşluk oluşması gerekiyor. Bu boşluk fonksiyona ait bir işlem yaptığımız anlamın agelmektedir.

In [ ]:
# Kare alma işlemi :
3**2    # 3'ün 2. dereceden kuvvetini ekrana yazdırır.

def kare_al(x) :
  print(x**2) # Ekrana yazdırmak istiyorsak print ifadesini kullanmak zorundayız.
kare_al(4) 

def kare_al(x) :
  print("Girilen sayının karesi :" + str(x**2)) # -TYPEEEROR verir. Tip dönüşümü yapılır. 
kare_al(5) 

def kare_al(x) :
  print("Girilen sayı: " +str(x)+ "\n"+ "ve sayısının karesi :" + str(x**2)) # "\n" : bir alt satıra geçer. 
kare_al(2)

İKİ ARGÜMANLI FONKSİYON TANIMLAMAK :

In [ ]:
def carpma(x,y):
  print(x*y)
carpma(5,2)

# ÖN TANIMLI ARGÜMANLAR : 

def carpma(x,y=3):
  print(x*y)
carpma(5)  # Y değerini önceden 3 belirlediğimiz için. 
carpma(y=2, x=4) # Sıralamalarını bilmesek bile argümanların isimlerini yazarak onlara değer atayabiliriz.

In [ ]:
# Örneğin, bir sokakta 100 adet lamba olsun ve bu lambalardan bir tanesinin ısı, nem, sarj özellikleririnin biligisine sahip olalım : 
#ısı : 40 
#nem : 25 
#şarj 90  olsun.
# Kabaca bir matematik ifadesiyle;
(40+25)/90 # sadece bir tanesi için yeterli bir matematik denklemiya bizim elimizde yüzlerce lamba varsa? 

def direk_hesap(isi, nem, sarj):
  print((isi+nem)/sarj)
direk_hesap(30,40,70)

#Fonksiyonların çıktılarını direkt olarak kullanmak mümkün olmayabilir.  :
c= direk_hesap(40,40,70) # Normalde atama yapamaması gerekir ama burada gerçekleşti ve hesaplandı. 
print(c) #None değer döndürecektir.
# direk_hesap(40,40,70)*2          # - TYPEERROR  
# c*2                   # - TYPEERROR  : hesaplıyor ama işlem yapmamımıza izin vermiyor. Büyük ihtimal yukarıda sürüm farkından kaynaklı bir durum oluşmaktadır. 



# PEKİ BEN BU VERİYE NASIL ERİŞECEĞİM ??

def direk_hesap(isi, nem, sarj):
  return (isi+nem)/sarj
direk_hesap(40,40,70)*9 # 9 ile çarpmaya izin verildi. 
print(direk_hesap(40,40,70))

# EN ÖNEMLİ NOKTA : Fonksiyon return ifadesini görünce durur. sonraki kodları çalıştırmaz.

LOCAL ve GLOBAL DEĞİŞKENLER

In [ ]:
x =10 #global değişken 
y =20 #global değişken 

def carpma_yap(x,y) : # local değişken, fonksiyonun etki alanındadır. bunlar geçici değişkenlerdir. kalıcı bir işlem yapılmaz 
  return x*y
carpma_yap(2,3) # çıktı : 6

# LOCAL etki alanından GLOBAL etki alanını değiştirmek :
x = []
def eleman_ekle(y):
  x.append(y)
  print( y , "ifadesi eklendi")
eleman_ekle(3)  # çıktı : 3 ifadesi eklendi
x  # çıktı : [3]

**KARAR KONTROL YAPILARI**

1. TRUE-FALSE SORGULAMALARI : Mantıksal Sorgulamalar. x **==** y

In [ ]:
sinir = 5000
sinir ==4000 # False 
sinir ==5000 # True

2. IF , ELSE , ELIF YAPISI  :

In [ ]:
sinir = 50000
gelir = 60000

if gelir < sinir :
  print("Gelir sınırdan küçük. ") 
# if sorguladığı durumda TRUE döndürürse bir altındaki satırda yazılan kodu çalıştırır. 


if gelir < sinir :
  print("Gelir sınırdan küçük. ") 
else :
  print( "Gelir sınırdan büyük")  # çıktı : Gelir sınırdan büyük


gelir1 = 60000
gelir2 = 35000
gelir3 = 50000

#Gelir1 için çıktı : Tebrikler 
if gelir1 < sinir :
  print("Uyarı!!!")
elif gelir1 > sinir :
  print("Tebrikler")
else : 
  print("Takibe devam. ") 

#Gelir2 için çıktı : Uyarı!! 
if gelir2 < sinir :
  print("Uyarı!!!")
elif gelir2 > sinir :
  print("Tebrikler")
else : 
  print("Takibe devam. ") 

#Gelir3 için çıktı : Takibe devam. 
if gelir3 < sinir :
  print("Uyarı!!!")
elif gelir3 > sinir :
  print("Tebrikler")
else : 
  print("Takibe devam. ")

In [ ]:
#UYGULAMA : 

sinir = 50000
magaza = input("Mağazanın ismi nedir?")
gelir = int(input("Gelirinizi Giriniz : "))

if gelir > sinir :   # -TYPEERROR alacağız : string ve int bir değer karşılaştırması olacak. inputtan alınan değer str olarak okunuyor. 
  print("Tebrikler : " , magaza ,  " Promosyan kazandınız.")
elif gelir < sinir :
  print("Uyarı!!" , magaza , "geliriniz : ", gelir)
else :
  prit("Takibe devam..")

3. FOR DÖNGÜSÜ :

In [ ]:
ogrenci = ["ali", "veli", "berk", "isik"]

# for : dön
# i : geçici değişken 
for i in ogrenci :
    print(i) # hepsini alt alta yazdır. 

 
# Bütün maaşlara %20 zam uygula 
def yeni_maas(x):
  print( x +(x*0.2) )
for i in maaslar :
  yeni_maas(i) 



maaslar = [1000,2000,3000,4000,5000]
for i in maaslar :
  if i <3000:
    print(i +(i*0.2))
  else :
    print(i +(i*0.1))

#Yukarıda ki örneği def ile yazılımı :

def maas_alt(x):
  print(x +(x*0.2))
def maas_ust(x):
  print(x +(x*0.1))
for i in maaslar :
  if i <3000:
    maas_alt(i)
  else :
    maas_ust(i)

BREAK and CONTINUE and WHILE :

In [ ]:
maaslar = [8000,5000,3000,1000,5000,7000,1000] 
#ben sadece 3000'den aşağıda olanmaaşlarla ilgilenmek istiyorum ama değerlerim sırasız :
maaslar.sort()  # Artık tüm maailar sıralı 

for i in  maaslar :
  if i == 3000 :
    print("kesildi. ")
    break # verilen değerden sonrası yazılmayacak işlem yapılamyacak. 
  print(i)

for i in  maaslar :
  if i == 3000 :
    continue # kontrol ifadesine takıldığında bu sayıda işlem yapmayacak
  print(i)

sayi = 1
while sayi <10 :
  print(sayi) 
  sayi +=1 # 1 den başlar. 
#Eğer ilk kodu yazar sonra print dersek 2'den başlar.

# PYTHON : NESNE YÖNELİMLİ PROGRAMLAMA

Sınıflara Giriş (CLASS) ve Sınıf Tanımlamak :

**Sınıflar :** benzer özelikler, ortak amaçlar taşıyan, içerisinde metot ve değişkanlar olan yapılardır.

In [ ]:
# Sınıf Tanımlamak : 

class VeriBilimci():

# Sınıf özellikleri (attributes) :
  bölüm = " "
  sql = "Evet"
  deneyim_yili = 0
  bildigi_diller = []

VeriBilimci.sql # Bu şekilde sınıfların özelliklerine erişebiliyoruz. 
VeriBilimci.sql = "Hayir"  # Sınıf özelliklerni dışarıdan değiştirebiliyoruz. 
VeriBilimci.sql  # çıktı : Hayır 

# Sınıf Örneklendirmesi (instantiation) : 

ali = VeriBilimci() # Bu classın bütün özelliklerini taşır.
ali.sql # çıktı : Hayır
ali.deneyim_yili  # çıktı : 0 

# Peki Ali'nin özellilerini nasıl değiştireceiz ya da ekleyeceğiz? 
ali.bildigi_diller.append("Python")  #Burada yapılan bir değişiklik tüm sınıfı etkiler. 

veli = VeriBilimci()
veli.sql # çıktı : Hayır
veli.bildigi_diller  # çıktı : python. Ama biz veliye bir girdi sağlamadık ki?

Peki biz bunu nasıl düzelteceğiz? Örneklerin her birisine kendi içinde değişebilir özelliklerden oluştuğu bilgisini  Python'a vereceğiz.

- **self :** örneklemleri temsil edeer. Temsilcidir.

In [ ]:
class VeriBilimci() :

#Sınıfımızın özelliğini tanımak için : 
  bildigi_diller = ["R", "Python"]
  bölüm = " "
  sql = "Evet"
  deneyim_yili = 0
# Örnek Özelliği tanımlayacağız. Bu class'ı etkilemiyor. 
  def __init__(self):
    self.bildigi_diller = [] # Her bir örnek kendi içinde değişen özelliklerden oluşabilir bilgisi verilmektedir. 
    self.bölüm = " "
ali = VeriBilimci()
ali.bildigi_diller # çıktı : []

veli = VeriBilimci()
veli.bildigi_diller # çıktı : []

ali.bildigi_diller.append("Python")
ali.bildigi_diller # çıktı : Python 
veli.bildigi_diller  # çıktı : []
veli.bildigi_diller.append("R")
veli.bildigi_diller
# VeriBilimci.bildigi_diller    #  - ATTRIBUTEERROR : 'VeriBilimci' has no attribute 'bildigi_diller'
VeriBilimci.bildigi_diller  # çıktı : ['R', 'Python'] = sınıfa özellik tanımlarsak ekrana yazdırır. 
ali.bölüm = "İstatistik"
veli.bölüm = "End Müh"
ali.bölüm # çıktı : İstatistik
veli.bölüm # çıktı : End Müh
VeriBilimci.bölüm # çıktı : ' ' = Hiçbir şekilde sınıfın özelliklerini etkilemiyoruz. Örneklerin özelliklerinde değişiklikler yapabiliyoruz ama.

Örnek Metodları :

In [ ]:
class VeriBilimci() :
  calisanlar = []
  def __init__(self):
    self.bildigi_diller = [] 
    self.bölüm = " "
  def dil_ekle(self, yeni_dil) :  # önemli olan ilk ifadeye self koymak. 
    self.bildigi_diller.append(yeni_dil)


ali = VeriBilimci()
ali.bildigi_diller
ali.bölüm

veli = VeriBilimci()
veli.bildigi_diller
veli.bölüm

VeriBilimci.dil_ekle  # çıktı : function __main__.VeriBilimci.dil_ekle
# VeriBilimci.dil_ekle("R")  #  - TYPEERROR  dil_ekle özelliğimiz yok o bir fonksiyon.
ali.dil_ekle("R")
ali.bildigi_diller # çıktı : R

veli.dil_ekle("Python")
veli.bildigi_diller # çıktı : Python

MİRAS YAPILARI (inheritance) :

In [ ]:
class Employees() :
  def __init__(self):
    self.FirstName = " " 
    self.LastName = " "
    self.Address = " "

class DataScience(Employees) : # Diğer sınıfın özellikleri geliyor. 
  def __init__(self):
    self.Programming = " " 

class Marketing(Employees) : # Diğer sınıfın özellikleri geliyor. 
  def __init__(self):
    self.StoryTelling = " "   

veribilimci1 = DataScience()
veribilimci1.Programming # Sadece programming özelliği gelecek.

FONKSİYONEL PROGRAMLAMA : 

- Yan Etkisiz Fonksiyonlar : girdi-çıktı
- Yüksek Seviye Fonksiyonlar
- Vektörel Fonksiyonlar

In [ ]:
# YAN ETKİSİZ FONKSİYONLAR :

A = 5
def impure_sum(b):
  return b + A 
def pure_sum(a,b):
  return a+b

impure_sum(6) # Foksiyonun dışardan bir bağımlılığı var. 
pure_sum(3,4) # girdi-çıktı örneği 

# İSİMSİZ FONKSİYONLAR : 

def old_sum(a,b):
  return a+b

new_sum = lambda a,b  : a+b
new_sum(4,5) 

#Amacım liste içerisnde ki tuple ları sıralamak, 
sirasiz_liste= [("b", 3), ("a", 8), ("d", 12), ("c", 1)]
sorted(sirasiz_liste, key = lambda x : x[1]) # lambda fonksiyon tanımlamak çin kullanıldı tek satırlık fonksiyonluk şlemler 
# Atama işlemi yapmadan lambda ile fonksiyon işlemi yapılıyor. 

# VEKTÖREL OPERASYONLAR :
# Nesneye Yönelik :
a = [1,2,3,4]
b = [2,3,4,5]
ab = []
for i in range(0,len(a)):
  ab.append(a[i]*b[i]) #iki vektör arasında bir çarpma işlemi olmuştr. 
ab

[2, 6, 12, 20]

In [ ]:
import  numpy as np

In [ ]:
# Vetörel fonksiyon: 
a = np.array([1,2,3,4])
b = np.array([2,3,4,5])

a*b # sadece numpy ile bunu daha kolay yazabiliriz.

**MAP, FILTER, REDUCE :**

Vektörel Özellikler

In [ ]:
# MAP : 
liste = [1,2,3,4,5]
for i in liste :
  print(i+10)
list(map(lambda x : x+10, liste)) # map  : verilen vektörün içerisinde belirli bir fonksiyonu çalıştırma imkannı verir. iSİMSİZDİR!!!


#FILTER : 
liste = [1,2,3,4,5,6,7,8,9,10]
# çift sayılara ulaşmak sitiyorum: 
list(filter(lambda x : x%2 ==0, liste)) #  2ye bölüp 0'mı diye sorguluyor.. 
# filter : şartın sağlandığı elmanları filtreler. 

#REDUCE : 
#indirgeme işlemi yapar.
from functools import reduce 
liste1 = [1,2,3,4,5]
reduce(lambda a,b : a+b, liste1)

**MODÜL OLUŞTURMAK :**


HesapModülü.py adlı bir dosya oluturuldu.  Bu modülün içinde maaşın %20 si kar zam yapan bşr fonksiyon bulunmaktadır. Daha sonrasında başka bir paektimizde **import HesapModülü** yazdığımızda bu paketin fonksiyonlarını yüklemiş olacağız. 

- **HesapModülü.yeni_maas(1000)** kodunu çalıştırdığımız zaman bize girilen maaşın %20 zamlı halini verecektir. 

- Bu bize uzun geliyor daha kısa yazalım dersek : **import HesapModülü as hm** dersek **hm.yeni_maas(1000)** yazarak kodu da ısaltabiliriz. 

- Farklı bir kullanış türü olarak **from HesapModülü impoer yeni_maas** yani diyor ki hesapModülünden sadece yeni_maasş fonksiyonunu import et. o zaman sadece **yeni_maas(4000)** yazmak kodumuz için yeterli olaacaktır. 

- Mesela HesapModülü içine **maaslar = [1000,2000,3000,4000,5000]** isimli bir nesne oluşturalım. bu nesnemize **import HesapModülü as hm**  üzerinden **hm.maaslar** yazarak erişebiliyoruz.

**HATALAR - İSTİSNALAR :**

In [ ]:
a,b = 5,0
# a/b  #   - ZERODİVİSİONERROR 
try :
  print(a/b)
except ZeroDivisionError:
  print("Paydada Sıfır Olmaz")

Paydada Sıfır Olmaz

# NUMPY

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,3,4])
b = np.array([2,3,4,5])
a*b # iki array'i kolayca çarpabiliyoruz.

type(a)   # çıktı : numpy.ndarray
np.array([2.15,3,4,5]) # Eğer array'im içinde double bir ifade varsa çıktı da tüm elemanlarım ondalıklı olarak gözükecektir.
c= np.array([2.15,3,4,5])
type(c[2]) # çıktı : numpy.float64  Normalde int olarak girdiğim bir değer arrayin içinde ki ondalık ifadeden dolayı float bir tipti çıktı verir. 

#Peki ben çıktıda verilerim int olarak gelmesini istiyorsam ?
np.array([2.15,3,4,5], dtype="int") #  çıktı : array([2, 3, 4, 5])

# Sıfırdan nasıl array oluşturabilirim? 
np.zeros(10)  # float tipinde 10 adet 0. eleman döndrür.
np.ones((3,5), dtype="int")   # int tipinde 3x5 matrisli, 1 elemanına sahip bir array döndürüyor. 
 
np.full((5,5), 2)  # Belli bir matris boyunda  verdiğimiz sayıyı doldurur.
np.arange(0,31,3) # 0'dan bşla 31'3 kadar üçer üçer ilerle
np.linspace(0,1,10)  # 0'dan başla 1'e kadar 10 adet sayı gösterir. 

np.random.normal(10,4,(3,4)) # Ortlaması 10 standart sapması 4 olan 3x4 lük rastgele sayılarla oluştrulmuş matris. 
np.random.randint( 1,10,(2,3))  # Sadece int değerlerden oluşan 2x3 lük 1-10!a kadar oluşturulmuş matris.

array([[1, 9, 4],
       [5, 3, 6]])

**NP.ARRAY ÖZELLİKLERİ**
- ndim : boyut sayısı
- shape : oyut bilgisi
- size : toplam eleman sayısı 
- dtype : array veri tipi

In [ ]:
a= np.random.randint(10, size=10)  # 10 boyutlu 0-10 arasında elemana sahip bir array

a.ndim # tek boyutlu array
a.shape # sadeece bir boyurt bilgsi verildi. 
a.size #  çıktı : 10 eleman sayısını çerir.
a.dtype # çıktı : dtype('int64')

# RESHAPING : YENİDEN ŞEKLLENDİRMEK :
np.arange(1,10).reshape((3,3)) #elimdeki tek boyurlu matrisi shape methodu ile 3'e 3lük br matris haline çevirdim.

# CONCANTENATION : BİRLEŞTİME 
x = np.array([1,2,3,4])
y = np.array([2,3,4,5])
np.concatenate([x,y])  
# iki boyutluda birleştirme işlemi :
a = np.array([[1,2,3],[4,5,6]])
np.concatenate([a,a]) #Satır olara birleştime işlemi yapar, eğer sütun olarak istiyorsak:
np.concatenate([a,a], axis=1) # o dersek SATIR olarak, 1 dersek SÜTUN olarak ekleme yapmaktadır. 

# SPLITTING : AYIRMA 
x = np.array([1,2,3,99,99,3,2,1])
np.split(x, [3,5]) # 3'den 5'e kadar olan kısmı ve diğerlerin ayırıyor.
a,b,c = np.split(x, [3,5]) # split işleminden sonra değişkenlere atıyoruz. Çünü 3 adet arrayimiz oluyor 
# iki boyutluda ayırma işlemi :
m = np.arange(16).reshape([4,4])
n,o = np.vsplit(m, [2]) # 2ye kadar arrayi n'e ger kalınını o'ya ekliyor. 2 farklu array oluşuyor. 
k,l =np.hsplit(m,[2])  
k # 2x4 lüük bir array oluşuyor. sağdan ve soldan ayırma işlemi yapıyor. 

# SORTING : SIRALAMA 
v = np.array([2,6,8,3,9,12,4,3,1])
np.sort(v) # küçükten büyüğe sıralama işlemi yapar.
m = np.random.normal(20,5,(3,3))
np.sort(m, axis=1) # satırlara göre küçükten büyüğe doğru sıralar
np.sort(m, axis=0) # ssütunlara göre küçükten büyüğe doğru sıralar

# SLICING : ALT KÜME İŞLEMLERİ
a = np.arange(20,30)
a[1::2] # 1. elemandan başla ikişer ikişer git demek. 
m = np.random.randint(10, size=(5,5))
m[:,0] # 0. sütunu çağırıyoruz. 
m[:, 2:4] # 2. sütundan başla 4. ssütuna kadar 
m[0, :] # 0. satırı çağırıyoruz
m[0:2, :] # 0. satırdan başla 2. satıra kadar
m[0:2, 1:3] # satır olarak; 0'dan başla 2'ye kadar. süyun olarak; 1'den başla 3'e kadar.

# Alt Küme Üzerinde İşlem Yapmak :
alt_m = m[0:3,0:2]
alt_m[0,0] = 9999
alt_m # Yaptığımız atama hem arrayin alt kümesini 
m # hem de arrayin kendisini etkiledi. burada dikkat et!!
# COPY isimli metodu kullanacağız. 
alt_n = m[0:3,0:2].copy()
alt_n[0,0] = 36
alt_n # Bu metot ile sadece copy olarak aldığımız alt_n değişkeninde değişiklik sağladık.
m # ana array de ise bu değişiklik gözlemlenmemektedir.

array([[9999,    1,    5,    9,    1],
       [   3,    2,    9,    8,    7],
       [   4,    1,    5,    4,    8],
       [   3,    9,    5,    4,    5],
       [   9,    3,    6,    8,    1]])

**FANCY INDEX**

In [ ]:
v = np.arange(0,30,3)
[v[2], v[3], v[4], v[7] ] # Seçtiğimiz elemanları br arada gözlemliyoruz.
al = [1,3,6]
v[al] # al arryinin içindekiler v arrayinde ki elemanlara tekabül ediyor. 

n = np.arange(9).reshape((3,3))
satir = np.array([0,1])
sutun = np.array([1,2])
n[satir, sutun]

array([1, 5])

**Koşullu eleman işlemler :**

In [ ]:
v = np.array([1,2,3,4,5])
v>5 # True-False dönüşümü gerçekleşiyor. Hepsi false dönecektir.
v<3 # çıktı : array([ True,  True, False, False, False])
v[v<3] # çıktı : array([1, 2])
v[v<=3]  # çıktı : array([1, 2, 3])
v[v!=3]  # çıktı : array([1, 2, 4, 5])
v*2 # tüm elemanları iki le çarpar. 
v/5 # tüm elemanları beşe böler.
v**2 # tüm elemanların  karesini alır.
v-1 # tüm elemanlardan bir çıkartır.
v*5/10-1 # yazmış olduğuumuz işlemi gerçekleştirir.

# ÇIKARMA İŞLEMİ :
np.subtract(v,1)  # çıktı : array([0, 1, 2, 3, 4])

# TOPLAMA İŞLEMİ :
np.add(v,1)  # çıktı : array([2, 3, 4, 5, 6])

# ÇARPMA İŞLEMİ : 
np.multiply(v,4) # çıktı : array([ 4,  8, 12, 16, 20])

# BÖLME İŞLEMİ :
np.divide(v,2) # çıktı : array([0.5, 1. , 1.5, 2. , 2.5])

# N ÜSSÜNÜ ALMA : 
np.power(v,3) # çıktı : array([  1,   8,  27,  64, 125])

# N'in BÖLÜMÜNDEN KALANLAR :
np.mod(v,2) # çıktı : array([1, 0, 1, 0, 1])

# MUTLAK DEĞER ALMA : 
np.absolute(np.array([-3,2,3,-12])) # çıktı : array([ 3,  2,  3, 12])

# TRİGONOMETRİK FONKSİYONLAR : 
np.sin(v)   # çıktı  : array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427])
np.cos(v)   # çıktı  : array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362,  0.28366219])

# LOGARİTMA : 
np.log(v)  # çıktı : array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791])
np.log2(v)  # çıktı : array([0.        , 1.        , 1.5849625 , 2.        , 2.32192809])

#CHEATSHEET !!!



# İKİ BİLİNMEYENLİ DENKLEM :

# 5*x0 + x1 = 12 ve x0 + 3*x1 = 10

a = np.array([[5,1], [1,3]]) # birinci bilinmeyenin kat sayısı, ikinci bilinmeyenin kat sayısı 
b = np.array([12,10])
x = np.linalg.solve(a,b)
x # çıktı :  array([  x0 = 1.85714286,  x1 =  2.71428571])

array([1.85714286, 2.71428571])

# PANDAS

- Değerleri indeksleri le birlikte tutar.

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1,2,3,4,5])  # ilk sütundakiler indeksi, diğerleri ise içerisne yer alan değerlerdir.
type(pd.Series([1,2,3,4,5]) ) # çıktı : pandas.core.series.Series
pd.Series([1,2,3,4,5]).axes  # çıktı : [RangeIndex(start=0, stop=5, step=1)] 0'dan başla 5'e kadar birer birer artmış indeks bilgsi
pd.Series([1,2,3,4,5]).dtype  # çıktı : dtype('int64')
pd.Series([1,2,3,4,5]).size # çıktı : 5 elemanlı 
pd.Series([1,2,3,4,5]).ndim  # çıktı : 1 bir boyutlu
pd.Series([1,2,3,4,5]).values # çıktı : array([1, 2, 3, 4, 5])
pd.Series([1,2,3,4,5]).head() # Serinin ilk 5 elemanını döndürür.  
pd.Series([1,2,3,4,5]).tail(2)  # Serinin içerisinde ki elemanlara sondan bakıyoruz. 

# Index İsimlendirmesi :
seri = pd.Series([99,33,66,56,32,85,96], index=["a","b","c","d","e","f","g"]) 
seri["a":"d"] # indexler üzerinden slicingb işlemi gerçekleştiriyoruz. 

# Sözlük üzerinden liste oluşturmak :
sozluk = pd.Series({"reg": 10,"log" : 11, "cart": 12})  # 1.
szlk = {"reg": 10,"log" : 11, "cart": 12}               # 2. 
seri1 = pd.Series(szlk)
seri1

# CONCAT : İki seriyi Birleştirmek 
pd.concat([seri1,seri1]) 

sozluk.index # çıktı : Index(['reg', 'log', 'cart'], dtype='object')
sozluk.keys  # keys değerlerin verir bizze.
list(sozluk.items()) # çıktı : [('reg', 10), ('log', 11), ('cart', 12)] tek bir formda gösterir.
sozluk.values # çıktı : array([10, 11, 12])

# ELEMAN SORGULAMA İŞLEMİ : 
"reg" in sozluk  # True-False döndürecektir. 
"a" in sozluk   # çıktı : False 
sozluk ["reg"]  # çıktı olarak değerini alacağız.

10

**DATAFRAME :**

In [ ]:
l = [ 1,2,39,67,89]
pd.DataFrame(l, columns=["Değişken İsmi "])
m = np.arange(1,10).reshape((3,3))
pd.DataFrame(m, columns=["1. Değer", "2. Değer", "3. Değer"]) 
df = pd.DataFrame(m, columns=["1. Değer", "2. Değer", "3. Değer"]) 
df.head() 
df.columns # çıktı : Index(['1. Değer', '2. Değer', '3. Değer'], dtype='object')
df.columns = ("deg1","deg2", "deg3")  # Dışarıdan columns isimlerini değiştirebildik.
type(df) # çıktı : pandas.core.frame.DataFrame
df.axes # çıktı : [RangeIndex(start=0, stop=3, step=1),
        #          Index(['deg1', 'deg2', 'deg3'], dtype='object')]
df.shape # çıktı : (3, 3)
df.ndim # çıktı : 2
df.size # çıktı : 9 eleman sayısı
df.values # bir array döndürür. Type burada çok öemli dikkat etmemiz gerek. 
type(df.values) # çıktı : numpy.ndarray

numpy.ndarray

**Eleman İşlemleri :**

In [ ]:
# ELEMAN İŞLEMLERİ :
s1 = np.random.randint(10, size=5)
s2 = np.random.randint(10, size=5)
s3 = np.random.randint(10, size=5)
sozluk1 = {"var1" : s1, # numpy dan sözlüğe 
          "var2" : s2,
          "var3" : s3}
df = pd.DataFrame(sozluk1)  # sözlükten pandasa
df.index = ["a","b","c","d","e"]
df["c":"e"] # cden e ye kadar 

# silme işlemini nasıl yapacağız peki? 
df.drop("a", axis=0) # axis =0 satır işlemmi yaptığımızı belli ediyor.  FAKAT KALICI BİR SİLME İŞLEMİ DEĞİLDİR!!
# df.drop("a", axis=0, inplace= True) #  inplace :  Bize kalıcı bir silme işlemi gerçekleştirir. 
# Birden fazla silme işlemi gerçekleştirmek istiyorsak;
l1= ["c","e"] # listeye atıyoruz. 
df.drop(l1, axis=0)
df # çıktı : elimde sadece b ve d 'nin verileri bulunmaktadır.

"var1"in df # çıktı : True 
l2 = ["var1", "var4", "var2"]
for i in l2 :
  print(i in df ) # çıktı : True, False, True şeklinde dönecektir.

# df[] : köşeli parantez demek, dataframe içimdeki bir veriye ulaşmak istediğimi gösteriyor. 
df["var4"] = df["var1"] * df["var2"] # yeni eklenen sütun  1 ve 2 nin çarpımlarından elde edilen sonuca göre oluşturuldu.

True
False
True

**Gözlem ve Değişken Seçimi :**


satırlarla ilgili bir gözlem işlemi yapacaksak **loc** kullanılması gerekir. **iloc** aynı kodda hata verecektir. 

: **df.loc[0:3 , "var1"]**

In [ ]:
m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns=["var1","var2","var3"])

# loc : tanımlandığı şekli ile seçim yapmak için kullanılır.
df.loc[0:3]  # 0-1-2-3
# iloc : alışık olduğumuz indekleme mantığı ile seçim yapar. 
df.iloc[0:3] # 0-1-2
df.loc[0:3, "var3"]  
df.iloc[0:3]["var3"] 

df[0:3][["var1","var2"]] 

# "var1" e bulunan değişkenlerin >n olma durumu :
df[df.var1 >7] 
df[(df.var1 >10) & (df.var3 <7)]  
df.loc[(df.var1 >10), ["var1", "var2"]] # hata almadan var1 ve var2 yi döndürebiliriz.
df[(df.var1 >10)][["var1","var2"]] # yukarıdaki işlemin aynısı

df2 = df +90
df2

pd.concat([df,df2]) # birleştirme işlemi gerçekleşti. 
pd.concat([df,df2], ignore_index=True) # index sıralama işlemini gerçekleştrir.
# ?pd.concat

# df2 de ki değişken adlarımızdan biri farklı olduğunda concat işlem gerçekleştirilirken hata alırız. 
# Peki bu durumu nasıl düzeltebiliriz?
pd.concat([df,df2], join="inner") # join = "inner" kesişimlerine göre brleştirdi. 
# pd.concat([df,df2], join_axes=[df.columns]) hata alıyorum!! 

# VERSION FARKINDAN KAYNAKLI BİR DURUM BUL!!!

   var1  var2  var3
0    25    13    21
1    20    13    26
2    19    10    25
3    11    16     8
4    13    15    19
5     6     1    29
6    10    24    25
7    22     8    16
8    18    24    22
9    19    15    25
0   115   103   111
1   110   103   116
2   109   100   115
3   101   106    98
4   103   105   109
5    96    91   119
6   100   114   115
7   112    98   106
8   108   114   112
9   109   105   115

**İleri Birleştirme İşlemleri :**

In [ ]:
df1 = pd.DataFrame({"calisanlar": ["Ali", "Veli", "Ayşe", "Fatma"],
                    "grup": ["Muhasebe", "Mühendislik","Mühendislik","İK" ]})
df1 

df2 = pd.DataFrame({"calisanlar": ["Ali", "Veli", "Ayşe", "Fatma"],
                    "ilk_yil": [2010,2009,2014,2019]})
df2
pd.merge(df1,df2)  # çalışanlar ortak olduğu için birleştirme işlemi yapıldı. 
df3 = pd.merge( df1,df2)
df3
df4 = pd.DataFrame({"grup": ["Muhasebe", "Mühendislik","İK" ],
                    "mudur": ["Caner", "Mustafa", "Berkcan"]})
pd.merge(df3,df4)

  calisanlar         grup  ilk_yil    mudur
0        Ali     Muhasebe     2010    Caner
1       Veli  Mühendislik     2009  Mustafa
2       Ayşe  Mühendislik     2014  Mustafa
3      Fatma           İK     2019  Berkcan

**AGGREGATION & GROUPING :**

In [ ]:
import seaborn as sns

In [ ]:
df = sns.load_dataset("planets")
df.head() 
df.shape # (1035, 6)
df.mean() # bu tüm gruplar için
df["mass"].mean() # sadece belirli bir değişken için 
df["mass"].count() 
df["mass"].max() 
df["mass"].min()
df["mass"].sum()
df["mass"].var()
df.describe() # tüm değişkenler için tmel istatistik sonuçlarını verir.
df.describe().T # format değişikliği 
df.dropna().describe().T # NaN değerleri eksik verileri silerek gözlemlenmiş hali.

                count         mean          std  ...       50%        75%      max
number          498.0     1.734940     1.175720  ...     1.000     2.0000      6.0
orbital_period  498.0   835.778671  1469.128259  ...   357.000   999.6000  17337.5
mass            498.0     2.509320     3.636274  ...     1.245     2.8675     25.0
distance        498.0    52.068213    46.596041  ...    39.940    59.3325    354.0
year            498.0  2007.377510     4.167284  ...  2009.000  2011.0000   2014.0

[5 rows x 8 columns]

In [ ]:
df = pd.DataFrame({"gruplar" : ["A", "B", "C","A", "B", "C"],
                   "veri" : [10,11,52,23,43,55]}, columns= ["gruplar", "veri"])
df.groupby("gruplar") # çıktı nesne oluşturur.
df.groupby("gruplar").mean() 
df = sns.load_dataset("planets")
df.head() 
df.groupby("method")["orbital_period"].describe()

                               count  ...            max
method                                ...
Astrometry                       2.0  ...    1016.000000
Eclipse Timing Variations        9.0  ...   10220.000000
Imaging                         12.0  ...  730000.000000
Microlensing                     7.0  ...    5100.000000
Orbital Brightness Modulation    3.0  ...       1.544929
Pulsar Timing                    5.0  ...   36525.000000
Pulsation Timing Variations      1.0  ...    1170.000000
Radial Velocity                553.0  ...   17337.500000
Transit                        397.0  ...     331.600590
Transit Timing Variations        3.0  ...     160.000000

[10 rows x 8 columns]

In [ ]:
df = pd.DataFrame({"gruplar" : ["A", "B", "C","A", "B", "C"],
                   "değişkenler1" : [10,23,33,22,11,99], 
                   "değişkenler2" : [100,253,333,262,111,969]}, columns= ["gruplar", "değişkenler1","değişkenler2" ])
df.groupby("gruplar").aggregate(["min", np.median, "max" ])   # tırnak içerisinde ya da tırnaksız yazılabilir ama pandas'ın içerisinde yer aldığını biliyorsak
df.groupby("gruplar").aggregate({"değişkenler1": min,
                                 "değişkenler2" : max})

def filter_func(x):
  return x["değişkenler1"].std()>9
df.groupby("gruplar").filter(filter_func)  # değişken 1'e göre standart sapma hesaplandı 


# transform : vektörel çalışan bir fonksiyon.
df["değişkenler1"]*9
df_a = df.iloc[:,1:3]
df_a.transform(lambda x : (x-x.mean()) / x.std())

# apply : değişkenler üzerinde gezinmeye  yardımcı bir fonksyon.
df = pd.DataFrame({"değişkenler1" : [10,23,33,22,11,99], 
                   "değişkenler2" : [100,253,333,262,111,969]}, columns= ["değişkenler1","değişkenler2" ])
df.apply(np.sum)
df.apply(np.mean)  
# Peki işin içine gruplar girerse : 
df = pd.DataFrame({"gruplar" : ["A", "B", "C","A", "B", "C"],
                   "değişkenler1" : [10,23,33,22,11,99], 
                   "değişkenler2" : [100,253,333,262,111,969]}, columns= ["gruplar", "değişkenler1","değişkenler2" ])
df.groupby("gruplar").apply(np.sum )   # birdeğişiklik olmuyor.

        gruplar  değişkenler1  değişkenler2
gruplar
A            AA            32           362
B            BB            34           364
C            CC           132          1302

**Pivot Tablolar :**

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()
titanic.groupby("sex")[["survived"]].mean() # cinsiyete göre hayatatta kalanların ortalaması 
# pivot olmasını istiyorsak ilkelce yöntem : [[]]
titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean").unstack()
# unstack : hiyerarşik index yapısını düzeltiyoruz. 
titanic.pivot_table("survived", index="sex", columns="class") # yukarıda yapılan işlemin aynısını sadece pivot tablo üzerindegerçekleştiriyoruz. 

age = pd.cut(titanic["age"], [0,18,90]) # categoric değişkene dönüştürdük
age.head(10) 
titanic.pivot_table("survived", ["sex",age], "class")

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
pd.read_csv("ornekcsv.csv") # ayraç olarak ön tanımlı değer " ,"
pd.read_csv("ornekcsv.csv", sep=";")
pd.read_excel("ornekx.xlsx") 
pd.read_csv("duz_metin.txt") 
df = pd.read_excel("ornekx.xlsx") 
df.columns = ("A","B","C")
df